{% extends "::global_layout.html.twig" %}

{% block title %} {{ parent() }} INDEX {% endblock %}

{% block body %}
  <p>
    {{ name }} <br>

{# {% if listUsers is defined %}
  {% for user in listUsers %}
    {% if user.image is not null %}
      Image de {{ user.login }} :
      <img src=" {{ user.image.url }} " alt="{{ user.image.alt }}"> <br>
    {% endif %}
  {% endfor %}
{% endif %} #}
{#
{% if form1 is defined %}
  <h3> Formulaire </h3>
  {{ form(form1) }}
{% endif %} #}

  {{ form(recup1) }}
  <br>
  {{ form(recup2) }}
  </p>
{% endblock %}
