{% extends "::global_layout.html.twig" %}

{% block title %} {{ parent() }} INDEX {% endblock %}

{% block body %}
    {{ name }} <br>

{% for message in app.session.flashbag.get('notice') %}
  <p>Message flash : {{message}}</p>
{% endfor %}

{% if form is defined %}
  <h3> Formulaire </h3>
  {{ form(form) }}
{% endif %}

{% if listuser is defined %}
  {% for user in listuser %}
    login : {{ user.login }}<br>
    arme 1 : {{ user.equip.arme1 }}<br>
    armure 1 : {{ user.equip.armure1 }}<hr>
  {% endfor %}
{% endif %}

{% endblock %}
